@import './../../../styles/variables.scss';

$whiteAlfa: rgba(255, 255, 255, 0.7);
$heightNavBar: 83px;

.navbar {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: $heightNavBar;
    justify-content: space-between;
    flex-direction: row-reverse;
    top: 0;
    left: 0;
}

.main-nav {
    list-style-type: none;
    display: none;
    div:hover{
        font-weight: bold;
    }
}

.nav-links {
    text-decoration: none;
    color: $gray;
    outline: none;
}

.navbar-burger {
    cursor: pointer;
    color: $gray;
    font-size: 24px;
}
.logo{
    width: 110px;
}
.background-transp{
    background-color: transparent !important; 
}
@media screen and (max-width: 768px) {
    .main-nav div{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .main-nav.active{
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        div{
            display: block;
            margin: 1.2rem 0;
            border: 1px solid $gray;
            width: 15rem;
            height: 3rem;
            position: relative;
            border-radius: 20px;
            cursor: pointer;
            a{
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: $heightNavBar;
        align-items: center;
        flex-direction: row;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-links {
        margin-left: 40px;
        outline: none;
    }

    .navbar-burger {
        display: none;
    }

    .nav-links:hover {
        color: $gray;
    }
}