@import './../../styles/variables.scss';

.container-timeline{
    width: 54%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .container-timeline{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .container-timeline{
        width: 80%;
    }
}